/* Root Variables */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* Primary Colors */
  --color-blue: #646cff;
  --color-blue-hover: #747bff;
  --color-dark-blue-hover: #535bf2;

  /* Neutral Colors */
  --color-white: snow;
  --color-light-gray: #f9f9f9;
  --color-gray: #ccc;
  --color-charcoal: #222;

  /* Shadows */
  --color-light-shadow: rgba(0, 0, 0, 0.1);
  --color-dark-shadow: rgba(0, 0, 0, 0.5);

  /* Accent Colors */
  --color-green: #4caf50;
  --color-light-green: #e0e0e0;
  --color-red: #ff6e66;

  /* Dark Mode */
  --color-dark-gray: #242424;
  --color-dark-text: rgba(255, 255, 255, 0.87);
  --color-dark-gray-bg: #333;
  --color-dark-gray-border: #555;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Reset and Base Styles */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  user-select: none;
}

a {
  font-weight: 500;
  color: var(--color-blue);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue-hover);
}

/* Typography */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

kbd.key {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid var(--color-gray);
  border-radius: 4px;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  font-family: monospace;
  font-size: 0.9rem;
  box-shadow: 0 2px 3px var(--color-light-shadow);
  text-transform: uppercase;
  font-weight: 700;
}

kbd.key.selected {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-light-gray);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-blue-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: var(--color-light-gray);
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover {
  border-color: transparent;
}

button.back-button {
  margin-right: 0.5em;
}

button.back-button:disabled {
  background-color: var(--color-light-gray);
  cursor: not-allowed;
}

button.transparent-button {
  background-color: transparent;
  border: none;
}

button.reset-button {
  transition: color 0.25s;
}

button.reset-button:hover {
  color: var(--color-red);
}

/* Containers and Layout */
.qa-container {
  margin-top: 2rem;
  width: 600px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.step-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.step-tracker-text {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

/* Components */
.slider {
  width: 40px;
  height: 20px;
  background-color: var(--color-gray);
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s ease;
}

.slider::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--color-light-gray);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.toggle input {
  display: none;
}

.toggle input:checked + .slider {
  background-color: var(--color-blue);
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

/* Animations */
.animations-disabled .no-blink {
  animation: none;
}

.animations-disabled .progress-bar {
  transition: none;
}

.animations-enabled .blink {
  animation: blink 0.5s;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* Progress Bar */

.progress-bar-container {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray); /* Darker background for light mode */
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--color-dark-shadow);
  transition: width 0.75s ease-in-out, background-color 0.3s ease;
}

.progress-bar.animate {
  transition: width 0.75s ease-in-out, background-color 0.3s ease;
}

.progress-bar.summary {
  background-color: var(--color-green); /* Green when on summary */
}

/* Questions and Responses */
.question.active {
  display: block;
}

.question.hidden {
  display: none;
}

.response-list-item {
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Settings */
.settings {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.settings input {
  margin-right: 0.5rem;
}

.settings label {
  font-size: 1rem;
  cursor: pointer;
}

/* Summary */
.summary table {
  width: 100%;
  border-collapse: collapse;
}

.summary table th,
.summary table td {
  padding: 0.5rem 0.25rem;
  text-align: left;
  border-bottom: 1px solid var(--color-gray);
}

.summary table tfoot tr:last-child td {
  border-bottom: none;
}

.no-response {
  color: var(--color-gray);
  font-style: italic;
}

/* Keyframes */
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-dark-gray);
    color: var(--color-dark-text);
  }

  a:hover {
    color: var(--color-dark-blue-hover);
  }

  button {
    background-color: var(--color-dark-gray-bg);
  }

  button:disabled {
    background-color: var(--color-dark-gray-bg);
  }

  kbd.key {
    background-color: var(--color-dark-gray-bg);
    color: var(--color-white);
    border: 1px solid var(--color-dark-gray-border);
    box-shadow: 0 2px 3px var(--color-dark-shadow);
  }

  .progress-bar-container {
    background-color: var(--color-dark-gray-border);
  }

  .progress-bar {
    background-color: var(--color-light-gray); /* Light color for dark mode */
  }

  .selected {
    color: var(--color-white);
  }

  .slider {
    background-color: var(--color-dark-gray-border);
  }

  .step-tracker {
    color: var(--color-gray);
  }

  .summary table th,
  .summary table td {
    border-bottom: 1px solid var(--color-dark-gray-border);
  }

  .toggle {
    color: var(--color-gray);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-white);
    color: var(--color-charcoal);
  }
}
